<template name="about">
	{{ > sidebar }}
	<div id="page">
		
		<h1>About Filmgrid</h1>
		<p>Filmgrid is an exciting new way to explore and discover movies. Based on which ones you like or dislike, Filmgrid gives you personalised recommendations. In the watchlist you can keep track of all the movies you still want to see.</p>
		<p>Filmgrid is still under development. In the future, Filmgrid will be able to combine the data from yourself and your friends to pick movies all of you like and none of you have seen before. With real time updates and a beautiful user interface, a perfect film night has never been so easy.</p>

		<h2>The Team</h2>
		<p>Made by Thomas Delteil and Philipp Legner. Please <a href="mailto:contact@filmgrid.io">email us</a> if you have any feedback or ideas.</p>

		<h2>Data Sources</h2>
		<ul>
			<li>OMDB: TODO add link</li>
			<li>TMDB: TODO add link</li>
			<li>Rotten Tomatoes: TODO add link</li>
		</ul>
		<p>All movie poster images are copyrighted by the respective production or distribution companies.</p>

		<h2>Privacy Policy</h2>
		<p>Filmgrid doesn't store any passwords on our servers. Personal informations about which movies you like is used to generate recommendations but never disclosed to third parties, unless we believe it is appropriate to comply with the law or to protect our and other’s rights. Non-personally identifiable visitor information may be shared with third parties for marketing, advertising or other similar uses.</p>
		<p>Filmgrid uses cookies to count visitors, monitor their interaction with the website and enable integration with social networks, in order to provide a better site experience in the future. No data is personally identifiable. If you wish to restrict or block cookies, you can do so through your browser settings. The help function within your browser should tell you how.</p>
		<p>By using the Filmgrid website, you consent to our privacy policy.</p>
		<!-- We already sold your private information. too late. -->

	</div>
</template>