<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Filmgrid</title>
	<meta name="description" content="An exciting new way to discover and explore movies - combining a beautiful interface with the power of machine learning.">

	<!-- Mobile Capable -->
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=490, maximum-scale=1, user-scalable=no">
	<meta http-equiv="cleartype" content="on">

	<!-- Web Apps -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Filmgrid">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-title" content="Filmgrid">

	<!-- Open Graph -->
	<meta property="og:title"       content="Filmgrid"/>
	<meta property="og:description" content="An exciting new way to discover and explore movies - combining a beautiful interface with the power of machine learning."/>
	<meta property="og:image"       content="http://mathigon.org/assets/favicon.png"/>
	<meta property="og:type"        content="school"/>
	<meta property="og:site_name"   content="Mathigon"/>

	<link rel="stylesheet" href="http://mathigon.org/styles/fonts.css">
</head>