.movie-list {
    position: relative;
    overflow: hidden;
    padding: 2px 0;
    min-height: 440px;
}

.movie-list.empty {
    background: url(/assets/empty.png) center no-repeat;
    background-size: 360px 220px;
}
