.movie-wrap {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 160px;
	height: 220px;
	pointer-events: none;

	-webkit-transition: -webkit-transform .4s, opacity .4s;
	-moz-transition: -moz-transform .4s, opacity .4s;
	transition: transform .4s, opacity .4s;
}

.movie-wrap.active {
	width: 150px;
	height: 210px;
	border: 5px solid #0CF;
}

.movie-wrap.on {
	opacity: 1;
	pointer-events: all;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.movie {
	position: relative;
	overflow: hidden;
	/*background: #FFF;*/
	/*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
	/*border-radius: 2px;*/
	width: 160px;
	height: 220px;
	cursor: pointer;

	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	transition: transform .4s;

	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
}

.movie-wrap.on .movie {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.movie.transitioning {
	-webkit-transition: box-shadow .2s, width .5s, -webkit-transform .5s;
	-moz-transition: box-shadow .2s, width .5s, -moz-transform .5s;
	transition: box-shadow .2s, width .5s, transform .5s;
}

.movie.expanded {
	cursor: default;
	width: 480px;
	/*box-shadow: 0 20px 120px 60px rgba(0,0,0,0.8);*/
}

.movie.fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -240px;
}

.movie-poster-wrap {
	height: 220px;
	overflow: hidden;
	border-radius: 2px;
	position: relative;
}

.movie-poster {
	position: absolute;
	width: 164px;
	height: 224px;
	margin: -2px 0 0 -2px;
	background: #242436 center;
	background-size: cover;
}

.movie-poster-shadow {
	border-radius: 2px 2px 0 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}

.movie:hover .movie-poster-shadow {
	opacity: 0.6;
}

.movie-details {
	display: none;
	padding: 8px 12px 8px;
	height: 64px;
	overflow: hidden;
}

.movie-details h2 {
	font-size: 15px;
	margin: 0 0 5px 0;
	line-height: 1.1;
	max-height: 32px;
	overflow: hidden;
}

.movie-details p {
	font-size: 11px;
	color: #BBB;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.movie-bookmark, .movie-dismissed, .movie-like {
	height: 40px;
	position: absolute;
	cursor: pointer;
	background: url('/assets/icons.png');
	background-size: 40px 240px;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	transition: transform .2s;
}


.movie-bookmark {
	width: 40px;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}

.movie-dismissed {
	width: 40px;
	bottom: 0;
	background-position: 0 -40px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
	border-right: 1px solid #FFF;
}

.movie-bookmark:hover, .movie-user-status-bookmarked .movie-bookmark { background-position: 0 -120px; }
.movie-dismissed:hover, .movie-user-status-dismissed .movie-dismissed { background-position: 0 -160px; }

.movie .movie-like {
	width: 120px;
	left: 40px;
	bottom: 0;
	background: none;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

.movie:hover .movie-bookmark, .movie:hover .movie-dismissed, .movie:hover .movie-like {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.movie-like1, .movie-like2, .movie-like3 {
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 0;
}

.movie-like3 {
	background: url('/assets/icons.png');
	background-size: 40px 240px;
	background-position: 0 -80px;
}

.movie-like1:hover, .movie-user-status-liked1 .movie-like1,
.movie-like2:hover, .movie-user-status-liked2 .movie-like2,
.movie-like3:hover, .movie-user-status-liked3 .movie-like3 {
	background: url('/assets/icons.png');
	background-size: 40px 240px;
	background-position: 0 -200px;
}

.movie-like1 { width: 40px; }
.movie-like2 { width: 80px; }
.movie-like3 { width: 120px; background-position: 0 -80px; bottom: 0; }

.movie-info {
	position: absolute;
	overflow: auto;
	border-radius: 0 2px 2px 0;
	background: #EEE;
	top: 0;
	left: 160px;
	width: 320px;
	height: 300px;
	padding: 15px 18px;
	box-sizing: border-box;
}

.movie-info p {
	font-size: 14px;
	margin: 0 0 1em 0;
}

.movie-info button {
	-webkit-appearance: none;
	border: 1px solid #BBB;
	border-radius: 3px;
	padding: 5px 12px;
	font-size: 13px;
	background: #DDD;
	cursor: pointer;
}

.movie-info .actors {
	font-size: 13px;
	color: #666;
	border-top: 1px solid #CCC;
	padding-top: 1em;
}

.movie-info button:hover {
	background: #CCC;
	border-color: #AAA;
}

