.movie {
	position: absolute;
	width: 160px;
	height: 220px;
	pointer-events: none;
	will-change: transform;
}

.movie.on {
	pointer-events: all;
	-webkit-transition: -webkit-transform .6s;
	transition: transform .6s;
}

.movie.open {
	z-index: 100;
}

.movie-scale {
	opacity: 0;
	width: 160px;
	height: 220px;
	will-change: transform, opacity;

	-webkit-transition: -webkit-transform .6s, opacity .4s;
	transition: transform .6s, opacity .4s;

	-webkit-transform: scale(0);
	transform: scale(0);

	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.movie.on .movie-scale {
	opacity: 1;

	-webkit-transform: scale(1);
	transform: scale(1);
}

.movie-front, .movie-back {
	position: absolute;
	top: 0;
	left: 0;

	will-change: transform;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform-origin: 242px 221px;
	transform-origin: 242px 221px;

	-webkit-transition: -webkit-transform .6s, -webkit-transform-origin 0s;
	transition: transform .6s, transform-origin 0s;
}

.movie-front {
	width: 160px;
	height: 220px;
}

.movie-back {
	width: 484px;
	height: 442px;
	background: black;
	border-radius: 2px;

	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.movie.on .movie-front {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.movie.flipped .movie-front {
	-webkit-transform: scale(1) rotateY(180deg);
	transform: scale(1) rotateY(180deg);
}

.movie.flipped .movie-back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

/* -------------------------------------------------------- */

.movie-poster-wrap {
	height: 220px;
	width: 160px;
	overflow: hidden;
	border-radius: 2px;
	position: relative;
	z-index: 10;
	cursor: pointer;

	-webkit-transition: -webkit-transform .6s;
	transition: transform .6s;
}

.movie.open .movie-poster-wrap {
	-webkit-transform: translate(16px, 16px);
	transform: translate(16px, 16px);
}

.movie-poster {
	position: absolute;
	width: 164px;
	height: 224px;
	margin: -2px 0 0 -2px;
	background: #242436 center;
	background-size: cover;
}

.movie-poster-shadow {
	border-radius: 2px 2px 0 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.movie-poster-wrap:hover .movie-poster-shadow {
	opacity: 0.6;
}

/* -------------------------------------------------------- */

.movie-bookmark, .movie-hide, .movie-dislike, .movie-like {
	height: 40px;
	width: 40px;
	position: absolute;
	cursor: pointer;
	background: url('/assets/icons.png');
	background-size: 40px 440px;

	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.movie-bookmark {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.movie-hide {
	right: 0;
	background-position: 0 -120px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.movie-dislike {
	bottom: 0;
	background-position: 0 -40px;
	border-right: 1px solid #FFF;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.movie-bookmark:hover, .status-bookmarked .movie-bookmark { background-position: 0 -160px; }
.movie-dislike:hover, .status-disliked .movie-dislike { background-position: 0 -200px; }
.movie-hide:hover, .status-hidden .movie-dislike { background-position: 0 -280px; }

.movie .movie-like {
	width: 120px;
	left: 40px;
	bottom: 0;
	background: none;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.movie-poster-wrap:hover .movie-bookmark,
.movie-poster-wrap:hover .movie-dislike,
.movie-poster-wrap:hover .movie-hide,
.movie-poster-wrap:hover .movie-like {
	-webkit-transform: none;
	transform: none;
}

.movie-like1, .movie-like2, .movie-like3 {
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 0;
}

.movie-like3 {
	background: url('/assets/icons.png');
	background-size: 40px 440px;
	background-position: 0 -80px;
}

.movie-like1:hover, .status-liked1 .movie-like1,
.movie-like2:hover, .status-liked2 .movie-like2,
.movie-like3:hover, .status-liked3 .movie-like3 {
	background: url('/assets/icons.png');
	background-size: 40px 440px;
	background-position: 0 -240px;
}

.movie-like1 { width: 40px; }
.movie-like2 { width: 80px; }
.movie-like3 { width: 120px; background-position: 0 -80px; bottom: 0; }

/* -------------------------------------------------------- */

.movie-details {
	width: 452px;
	height: 410px;
	padding: 16px;
	overflow: hidden;
	border-radius: 2px;
	position: absolute;
	top: 0;
	opacity: 0;
	background: #EEE;
	color: #333;
	pointer-events: none;

	will-change: opacity;

	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.movie.open .movie-details {
	opacity: 1;
	pointer-events: all;
}

.movie-body {
	position: absolute;
	left: 192px;
	right: 20px;
	top: 16px;
}

.movie-body h2 {
	font-size: 26px;
	font-weight: 100;
	margin: 0 0 12px;
	line-height:1.1
}

.movie-body .metadata {
	color: #888;
	font-size: 13px;
	margin: 0 0 4px;
}

.movie-body .rating {
	border: 1px solid #888;
	padding: 0 1px;
	display: inline-block;
	line-height: 1;
	margin-left: 2px;
}

.movie-body .plot {
	margin-top: 40px;
}

.movie-buttons {
	position: absolute;
	top: 252px;
	left: 16px;
	width: 160px;
}

.movie-buttons button {
	font-family: 'Whitney Mathigon', Whitney, Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	display: block;
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 7px 12px;
	font-size: 14px;
	background: #00395E;
	color: #FFF;
	margin-bottom: 8px;

	-webkit-transition: background .2s;
	transition: background .2s;
}

.movie-details button:hover {
	background: #116EAB;
}

.movie-score {
	display: inline-block;
	color: #FFF;
	margin-right: 3px;
	float: left;
}

.movie-score.imdb {
	background: #d9b72f url(/assets/rating-imdb.png) no-repeat 4px 2px;
	background-size: 33px 16px;
	padding: 1px 5px 0 42px;
}

.movie-score.rt1 {
	background: #c00 url(/assets/rating-rt.png) no-repeat 4px 1px;
	background-size: 17px 18px;
	padding: 1px 5px 0 26px;
	margin: 0 1px 0 0;
}

.movie-score.rt2 {
	background: #c00;
	padding: 1px 5px 0;
}

.movie-score.meta {
	background: #1e8cd8 url(/assets/rating-meta.png) no-repeat 2px 2px;
	background-size: 16px 16px;
	padding: 1px 5px 0 23px;
}

/* -------------------------------------------------------- */

.trailer {
	border-radius: 0 0 2px 2px;
	overflow: hidden;
}

.trailer-title {
	height: 20px;
	padding: 6px 16px 8px;
	color: #CCC;
}

.trailer-return {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-top-right-radius: 2px;
	width: 44px;
	height: 34px;

	opacity: 0.6;
	background: url(/assets/icons.png) no-repeat 2px -123px;
    background-size: 40px 440px;

	-webkit-transition: background .2s, opacity .2s;
	transition: background .2s, opacity .2s;
}

.trailer-return:hover {
	opacity: 1;
	background-color: #333;
}
