// =============================================================================
// FILMGRID - SIDEBAR STYLES
// =============================================================================


@bg: #12121B;
@blue: #29ABE2;
@red: rgb(104, 7, 46);


// =============================================================================
// Logo

#sidebar-top {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 30px;
}

#logo {
    display: block;
    width: 200px;
    height: 70px;
    background: url('/assets/logo.png');
    background-size: 200px 70px;
}


// =============================================================================
// Main Navigation

#sidebar-middle {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 18px 30px 0;
    overflow-y: scroll;
}

#sidebar-middle::-webkit-scrollbar {
    width: 12px;
}

#sidebar-middle::-webkit-scrollbar-thumb {
    border-right: 6px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 2px solid transparent;
    background-color: rgba(255,255,255,0.7);
    background-clip: padding-box;
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
    display: block;
    padding: 7px 12px 7px 62px;
    height: 22px;
    margin-bottom: 1px;
    background: fade(@red, 40%);
    color: fade(white, 50%);
    position: relative;
    margin-right: 0px;
    transition: background .2s, color .2s;
}

.nav-icon {
    background: url('/assets/icons.png');
    background-size: 40px 480px;
    width: 30px;
    height: 36px;
    position: absolute;
    left: 28px;
    top: 0px;
    opacity: 0.3;
    transition: opacity .2s;
}

@keyframes bounce {
    0% { transform: scale(1); }
    30% { transform: scale(1.22); }
    65% { transform: scale(0.92); }
    85% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

.nav-link.bounce { color: #FFF; }

.nav-link.bounce .nav-icon {
    opacity: 1;
    animation: bounce 0.6s;
}

.nav-link:hover, .nav-link.active { background: fade(@red, 80%); color: #FFF; }
.nav-link:hover .nav-icon, .nav-link.active .nav-icon { opacity: 0.8; }

.nav-link.active { cursor: default; }

.nav-icon-recommended { background-position: -5px -322px; }
.nav-icon-watchlist { background-position: -5px -2px; }
.nav-icon-favourites { background-position: -5px -82px; }
.nav-icon-cinema { background-position: -5px -362px; }
.nav-icon-friends { background-position: -5px -402px; }
.nav-icon-more { background-position: -5px -442px; }
.nav-icon-disliked { background-position: -5px -42px; }

.nav-link .rotate { display: inline-block; transition: transform .3s; transform: rotate(-90deg); }
.nav-link .rotate.active { transform: rotate(0deg); }

#subnav {
    height: 0;
    overflow: hidden;
    transition: height .3s;
    margin-left: 20px;
}

#subnav.open {
    height: 113px;
}

#subnav .nav-link { margin-left: -20px; }

.filters {
    margin: 30px 0 0 30px;
    transition: transform .3s, opacity .3s;
}

.filters.hidden {
    opacity: 0;
    transform: translateX(-260px);
}


// =============================================================================
// Bottom Nav

#sidebar-bottom {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 30px 30px 0;
}

.nav-bottom-item, .login-text-and-button {
    display: block;
    background: fade(white, 10%);
    color: fade(white, 50%);
    padding: 6px 12px 6px 30px;
    margin-bottom: 1px;
    transition: background .2s, color .2s;
}

a.nav-bottom-item:hover, a.nav-bottom-item.active, .login-text-and-button:hover {
    cursor: pointer;
    background: fade(white, 30%);
    color: #FFF;
}


// =============================================================================
// Login Form

#configure-login-service-dialog {
    position: fixed;
    width: 530px;
    margin: 40px 0 0 40px;
    background: #242436;
    z-index: 100;
    padding: 0 20px 20px 20px;
    border: 2px solid #FFF;
}

.login-image {
    background: url(/assets/social.png) !important;
    background-size: 40px 160px !important;
    display: inline-block;
    margin: -3px 0 -9px;
    width: 30px;
    height: 30px;
}

#login-buttons-image-facebook { background-position: -5px -5px !important; }
#login-buttons-image-github { background-position: -5px -85px !important; }
#login-buttons-image-twitter { background-position: -5px -45px !important; }

.avatar-item { padding-bottom: 10px; }

.avatar {
    width: 0 30px 30px 0;
    height: 30px;
    border-radius: 30px;
    margin: 0 4px -10px 0;
}
