#sidebar-body {
    min-height: 100%;
    box-sizing: border-box;
    padding: 30px 30px 150px;
    position: relative;
}

#logo {
    display: block;
    width: 200px;
    height: 70px;
    margin-bottom: 40px;
    background: url('/assets/logo.png');
    background-size: 200px 70px;
}

nav {
    margin: 0 0 30px -30px;
}

.nav-link {
    cursor: pointer;
    display: block;
    padding: 7px 12px 7px 62px;
    height: 22px;
    margin-bottom: 1px;
    background: rgba(104, 7, 46, 0.4);
    color: rgba(255,255,255,0.5);
    position: relative;
    margin-right: 0px;
    -webkit-transition: background .2s, color .2s;
    transition: background .2s, color .2s;
}

.nav-icon {
    background: url('/assets/icons.png');
    background-size: 40px 480px;
    width: 30px;
    height: 36px;
    position: absolute;
    left: 28px;
    top: 0px;
    opacity: 0.3;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

@-webkit-keyframes bounce {
    0% { transform: scale(1); }
    30% { transform: scale(1.22); }
    65% { transform: scale(0.92); }
    85% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

@keyframes bounce {
    0% { transform: scale(1); }
    30% { transform: scale(1.22); }
    65% { transform: scale(0.92); }
    85% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

.nav-link.bounce { color: #FFF; }

.nav-link.bounce .nav-icon {
    opacity: 1;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.nav-link:hover, .nav-link.active { background: rgba(104, 7, 46, 0.8); color: #FFF; }
.nav-link:hover .nav-icon, .nav-link.active .nav-icon { opacity: 0.8; }

.nav-link.active { cursor: default; }

.nav-icon-recommended { background-position: -5px -322px; }
.nav-icon-watchlist { background-position: -5px -2px; }
.nav-icon-favourites { background-position: -5px -82px; }
.nav-icon-cinema { background-position: -5px -362px; }
.nav-icon-friends { background-position: -5px -402px; }
.nav-icon-more { background-position: -5px -442px; }
.nav-icon-disliked { background-position: -5px -42px; }

#subnav {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    margin-left: 20px;
    width: 210px;
}

#subnav.open {
    height: 113px;
}

#subnav .nav-link { margin-left: -20px; }

/* =========================================== */

.filters {
    -webkit-transition: -webkit-transform .3s opacity .3s;
    transition: transform .3s opacity .3s;
}

.filters.hidden {
    opacity: 0;
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
}

#sidebar label {
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,0.4);
    margin: 20px 0 0 0;
    display: block;
}

#sidebar input, #sidebar select {
    background: #12121B;
    border: none;
    display: block;
    width: 100%;
    padding: 0 0 2px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #FFF;
    outline: none;
    font-size: 16px;
    font-family: 'Whitney Mathigon', Whitney, Helvetica, Arial, sans-serif;
}


#nav-bottom {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 230px;
}

.nav-bottom-item, .login-text-and-button {
    display: block;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.5);
    padding: 6px 12px 6px 30px;
    margin-bottom: 1px;
    -webkit-transition: background .2s, color .2s;
    transition: background .2s, color .2s;
}

a.nav-bottom-item:hover, a.nav-bottom-item.active, .login-text-and-button:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.3);
    color: #FFF;
}

/* =========================================== */

#mobile-sidebar {
    position: fixed;
    width: 100%;
    z-index: 500;
    background: #12121B;
    height: 44px;
    display: none;
    background: #000;
    top: 0;
}

#mobile-menu {
    width: 44px;
    height: 44px;
    float: left;
    margin-right: 10px;
    background: url('/assets/mobile.png');
    background-size: 170px 44px;
    opacity: 0.8;
}

#mobile-logo {
    float: left;
    width: 126px;
    height: 44px;
    background: url('/assets/mobile.png') -44px 0;
    background-size: 170px 44px;
}

@media screen and (max-width: 750px) {
    #mobile-sidebar { display: block; }
    #logo { display: none; }
}

/* =========================================== */

#configure-login-service-dialog {
    position: fixed;
    width: 530px;
    margin: 40px 0 0 40px;
    background: #000;
    z-index: 100;
    padding: 0 20px 20px 20px;
    border: 2px solid #FFF;
}

.login-image {
    background: url(/assets/social.png) !important;
    background-size: 40px 160px !important;
    display: inline-block;
    margin: -3px 0 -9px;
    width: 30px;
    height: 30px;
}

#login-buttons-image-facebook { background-position: -5px -5px !important; }
#login-buttons-image-github { background-position: -5px -85px !important; }
#login-buttons-image-twitter { background-position: -5px -45px !important; }

