#sidebar {
	position: fixed;
	width: 220px;
	padding: 20px;
	top: 0;
	bottom: 0;
	background: #222;
	color: #FFF;
	z-index: 10;
}

#logo {
	width: 200px;
	height: 80px;
	margin: 0 auto 40px;
	background: url('/assets/logo.png');
	background-size: 200px 80px;
}

.nav-link {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 6px 10px 6px 10px;
	position: relative;
	border-top: 1px solid #555;
	color: #666;
	text-decoration: none;
	transition: background .2s, color .2s;
}

.nav-link:hover {
	background: #333;
	color: #999;
}

.nav-link.active {
	background: #555;
	color: #EEE;
}

.nav-link:after {
	content: " ";
	position: absolute;
	display: block;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-left: 0px solid #222;
	top: 0;
	left: 100%;
	transition: border .2s;
}

.nav-link.active:after {
	border-left: 10px solid #555;
}

#sidebar h2 {
	margin: 40px 0 10px;
}


#sidebar input {
	color: #000;
}



label {
	display: block;
	margin: 12px 0;	
}

select {
	color:#444;
}