
* { cursor: inherit; color: inherit; }

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
    cursor: default;
}
