
* { -webkit-tap-highlight-color: rgba(0,0,0,0); cursor: inherit; color: inherit; }
::selection { background: rgba(0,0,0,0.1); text-shadow: none; }

a, button { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: none; }
a:focus, a:active, a:hover { outline: 0; }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Whitney Mathigon', Whitney, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    cursor: default;
    background: #12121B;
    color: #FFF;
}

#sidebar {
    position: fixed;
    width: 200px;
    padding: 30px;
    top: 0;
    bottom: 0;
}

#page {
    margin-left: 260px;
    padding: 0;
}
